-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml

.wrapper
  = render "side_bar"
  = render "main_chat"

  -# .side-bar
  -#   //サイドバーの記述
  -# .main-chat
  -#   //メッセージの記述

-# .test
-#   .test__side
  
-#     .test__side__header
   
-#       .test__side__header__box
-#         .test__side__header__box__user
-#           = current_user.name
-#         .test__side__header_box__menu
-#           = link_to new_group_path, class: "test__side__header__box__menu__icon" do
-#             = icon('fas', 'edit')

-#           = link_to "#", class: "test__side__header__box__menu__fab" do
-#             = icon('fas', 'cog')

-#     .test__side__contents

-#       .test__side__contents__logo
-#         .test__side__contents__logo__group
-#           jfleowau
-#         .test__side__contents__logo__message
-#           テスト

  
-#   .test__message

-#     .test__message__header
    
-#       .test__message__header__main
-#         .test__message__header__main__up
-#           test
-#         .test__message__header__main__down
-#           Member:masa
-#       .test__message__header__border
-#         = link_to "#/", class: "header__logo__border__edit" do
-#           edit

  
-#     .test__message__contents
-#       .test__message__contents__form
-#         .test__message__contents__form__first
-#           .test__message__contents__form__first__id
-#             = current_user.name
-#           .test__message__contents__form__first__day
-#             2020/01/21
-#         .test__message__contents__form__comment
-#           こんにちは

-#       .test__message__contents__btn
-#         .test__message__contents__btn__form
-#           .test__message__contents__btn__form__flame

-#             .test__message__contents__btn__form__flame__create
-#               type a message

-#             %label.test__message__contents__btn__form__flame__image
-#               = icon('fas', 'image')
-#               %input.test__message__contents__btn__form__flame__image__hidden{type: 'file'}
-#           .test__message__contents__btn__form__send
-#             send



  

  






-# .side
  
-#   .side__header
   
-#     .side__header__box
-#       .side__header__box__user
-#         peoc
-#       .side__header_box__menu
-#         = link_to "new_group_path", class: "side__header__box__menu__icon" do
-#           = icon('fas', 'edit')

-#         = link_to "#", class: "side__header__box__menu__fab" do
-#           = icon('fas', 'cog')
  

-#   .side__contents
-#     .side__contents__logo
-#       .side__contents__logo__group
-#         jfleowau
-#       .side__contents__logo__message
-#         テスト
  

          

-# .message

-#   .message__header
    
-#     .message__header__main
-#       .message__header__main__up
-#         test
-#       .message__header__main__down
-#         Member:masa


-#     .message__header__border
-#       = link_to "#/", class: "header__logo__border__edit" do
-#         edit


-#         -# xxxx
 


  
  
  
  
  
  
-#   .message__contents
-#     .message__contents__first
-#       .message__contents__first__id
-#         peoc
-#       .message__contents__first__day
-#         2020/01/21
-#     .message__contents__comment
-#       こんにちは
    




-#     .message__contents__btn
-#       .message__contents__btn__form
-#         .message__contents__btn__form__flame

-#           .message__contents__btn__form__flame__create
-#             type a message

-#           %label.message__contents__btn__form__flame__image
-#             = icon('fas', 'image')
-#             %input.message__contents__btn__form__flame__image__hidden{type: 'file'}
-#         .message__contents__btn__form__send
-#           send












   